overview {
    backdrop-color "#282828"
}

layout {
    tab-indicator {
        active-color "#83a598"
        inactive-color "#282828"
        urgent-color "#fb4934"
    }

    focus-ring {
        active-color "#b8bb26"

        // Color of the ring on inactive monitors.
        inactive-color "#282828"
    }

    border {
        active-color "#b8bb26"
        inactive-color "#282828"

        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"

    }
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

recent-windows {
    highlight {
        active-color "#b8bb26ff"
        urgent-color "#9b0000"
    }
}
