layout {

    focus-ring {
        active-color   "#c7bfff"
        inactive-color "#141318"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c7bfff"
        inactive-color "#141318"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#c7bfff"
        inactive-color "#463f77"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c7bfff80"
    }
}

recent-windows {
    highlight {
        active-color "#c7bfff"
        urgent-color "#ffb4ab"
    }
}
