/* Variables */
@define-color gruvboxDark-red #fb4934;
@define-color gruvboxDark-green #b8bb26;
@define-color gruvboxDark-yellow #fabd2f;
@define-color gruvboxDark-blue #83a598;
@define-color gruvboxDark-purple #d3869b;
@define-color gruvboxDark-aqua #8ec07c;
@define-color gruvboxDark-background rgba(40, 40, 40, 1);
@define-color gruvboxDark-background-bar rgba(40, 40, 40, 0.3);
@define-color gruvboxDark-foreground #fbf1c7;

@define-color spotify-foreground #1DB954;

* {
    font-family: SauceCodePro NFM;
    font-weight: normal;
    padding: 0;
    margin: 0;
    min-height: 0;
}

window#waybar {
    background-color: @gruvboxDark-background-bar;
    color: @gruvboxDark-foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    border: none;
    border-radius: 5;
}

button:hover {
    color: @gruvboxDark-green;
    background-color: @gruvboxDark-background
}

#workspaces button {
    padding: 0px 5px;
    color: @gruvboxDark-green;
    background-color: @gruvboxDark-background;
    margin: 5px
}

#workspaces button:hover {
    background-color: @gruvboxDark-green;
    color: @gruvboxDark-background
}

#workspaces button.active {
    background-color: @gruvboxDark-green;
    color: @gruvboxDark-background
}

#mode {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-red;
    background-color: @gruvboxDark-background;
}

#tray {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-foreground;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#tray menu {
    color: @gruvboxDark-green;
    background-color: @gruvboxDark-background
}

#tray menu>*:hover {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-green;
}

#language {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-blue;
    border-radius: 5;
}

#clock {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-foreground;
    border-radius: 5;
}

#wireplumber {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-aqua;
    border-radius: 5;
}

#wireplumber.muted {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-red;
    border-radius: 5;
}

#memory {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-blue;
    border-radius: 5;
}

#cpu {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-blue;
    border-radius: 5;
}

#custom-hyprsunset {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-blue;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#custom-darkman {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-foreground;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#custom-mako {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-yellow;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#custom-audio_idle_inhibitor {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-yellow;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#custom-ddcutil {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-purple;
    border-radius: 5;
}

#custom-pomo.running {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-yellow;
    border-radius: 5;
}

#custom-pomo.paused {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-red;
    border-radius: 5;
}

#custom-pomo.finished {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-green;
    border-radius: 5;
}

#idle_inhibitor.activated {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-green;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#idle_inhibitor.deactivated {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-red;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#mpris {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-aqua;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#mpris.spotify {
    margin: 5px;
    padding: 0px 5px;
    color: @spotify-foreground;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#mpris.cider {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-red;
    background-color: @gruvboxDark-background;
    border-radius: 5;
}

#keyboard-state {
    color: @gruvboxDark-foreground;
    border-radius: 5;
}

#keyboard-state label {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#keyboard-state label.locked {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-red;
    margin: 5px;
    padding: 0px 5px;
}

#network {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5;
}

#network.disabled {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-red;
    margin: 5px;
    padding: 0px 5px;
}

#network.disconnected {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-yellow;
    margin: 5px;
    padding: 0px 5px;
}

#network.linked {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#network.ethernet {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#network.wifi {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5;
}

#bluetooth.on {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-yellow;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth.off {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-red;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth.connected {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth.discovering {
    background-color: @gruvboxDark-background;
    color: @gruvboxDark-aqua;
    margin: 5px;
    padding: 0px 5px;
}
