/* Variables */
@define-color gruvboxDark-red #fb4934;
@define-color gruvboxDark-green #b8bb26;
@define-color gruvboxDark-yellow #fabd2f;
@define-color gruvboxDark-blue #83a598;
@define-color gruvboxDark-purple #d3869b;
@define-color gruvboxDark-aqua #8ec07c;
@define-color gruvboxDark-background rgba(40, 40, 40, 1);
@define-color gruvboxDark-background-bar rgba(40, 40, 40, 0.7);
@define-color gruvboxDark-foreground #fbf1c7;

@define-color gruvboxLight-red #9d0006;
@define-color gruvboxLight-green #79740e;
@define-color gruvboxLight-yellow #b57614;
@define-color gruvboxLight-blue #076678;
@define-color gruvboxLight-purple #8f3f71;
@define-color gruvboxLight-aqua #427b58;
@define-color gruvboxLight-background rgba(242, 229, 188, 1);
@define-color gruvboxLight-background-bar rgba(242, 229, 188, 0.7);
@define-color gruvboxLight-foreground #3c3836;

@define-color spotify-foreground #1DB954;

* {
    font-family: SauceCodePro NFM;
    font-weight: normal;
    padding: 0;
    margin: 0;
    min-height: 0;
}

window#waybar {
    background-color: @gruvboxDark-background-bar;
    color: @gruvboxDark-foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    border: none;
    border-radius: 5;
}

button:hover {
    background-color: @gruvboxDark-green;
    color: @gruvboxDark-background
}

#workspaces button {
    padding: 0px 5px;
    color: @gruvboxDark-green;
    margin: 5px
}

#workspaces button:hover {
    background-color: @gruvboxDark-green;
    color: @gruvboxDark-background
}

#workspaces button.active {
    background-color: @gruvboxDark-green;
    color: @gruvboxDark-background
}

#mode {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-red;
    color: @gruvboxDark-background;
}

#tray menu {
    color: @gruvboxDark-green;
    background-color: @gruvboxDark-background
}

#tray menu>*:hover {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-green;
    border-radius: 5;
}

#language {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-blue;
    border-radius: 5;
}

#clock {
    margin: 5px;
    padding: 0px 5px;
}

#wireplumber {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-aqua;
    border-radius: 5;
}

#memory {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-blue;
    border-radius: 5;
}

#cpu {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-blue;
    border-radius: 5;
}

#custom-hyprshade {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-blue;
    color: @gruvboxDark-background;
    border-radius: 5;
}

#custom-darkman {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-foreground;
    color: @gruvboxDark-background;
    border-radius: 5;
}

#custom-mako {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-yellow;
    color: @gruvboxDark-background;
    border-radius: 5;
}

#custom-audio_idle_inhibitor {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-yellow;
    color: @gruvboxDark-background;
    border-radius: 5;
}

#custom-ddcutil {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-purple;
    border-radius: 5;
}

#idle_inhibitor.activated {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-green;
    color: @gruvboxDark-background;
    border-radius: 5;
}

#idle_inhibitor.deactivated {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxDark-red;
    color: @gruvboxDark-background;
    border-radius: 5;
}

#mpris {
    margin: 5px;
    padding: 0px 5px;
}

#mpris.spotify {
    color: @spotify-foreground;
}

#keyboard-state {
    color: @gruvboxDark-background;
    border-radius: 5;
}

#keyboard-state label {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#keyboard-state label.locked {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-red;
    margin: 5px;
    padding: 0px 5px;
}

#network {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5;
}

#network.disabled {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-red;
    margin: 5px;
    padding: 0px 5px;
}

#network.disconnected {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-yellow;
    margin: 5px;
    padding: 0px 5px;
}

#network.linked {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#network.ethernet {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#network.wifi {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5;
}

#bluetooth.on {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-yellow;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth.off {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-red;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth.connected {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-green;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth.discovering {
    color: @gruvboxDark-background;
    background-color: @gruvboxDark-aqua;
    margin: 5px;
    padding: 0px 5px;
}
