/* Variables */
@define-color gruvboxLight-red #9d0006;
@define-color gruvboxLight-green #79740e;
@define-color gruvboxLight-yellow #b57614;
@define-color gruvboxLight-blue #076678;
@define-color gruvboxLight-purple #8f3f71;
@define-color gruvboxLight-aqua #427b58;
@define-color gruvboxLight-background rgba(242, 229, 188, 1);
@define-color gruvboxLight-background-bar rgba(242, 229, 188, 0.3);
@define-color gruvboxLight-foreground #3c3836;

@define-color spotify-foreground #1DB954;

* {
    font-family: "SauceCodePro Nerd Font Propo";
    font-weight: normal;
    padding: 0;
    margin: 0;
    min-height: 0;
}

window#waybar {
    background-color: @gruvboxLight-background-bar;
    color: @gruvboxLight-foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    border: none;
    border-radius: 5;
}

button:hover {
    color: @gruvboxLight-green;
    background-color: @gruvboxLight-background
}

#workspaces button {
    padding: 0px 5px;
    color: @gruvboxLight-green;
    background-color: @gruvboxLight-background;
    margin: 5px
}

#workspaces button:hover {
    background-color: @gruvboxLight-green;
    color: @gruvboxLight-background
}

#workspaces button.active {
    background-color: @gruvboxLight-green;
    color: @gruvboxLight-background
}

#mode {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-red;
    background-color: @gruvboxLight-background;
}

#tray {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-foreground;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#tray menu {
    color: @gruvboxLight-green;
    background-color: @gruvboxLight-background
}

#tray menu>*:hover {
    color: @gruvboxLight-background;
    background-color: @gruvboxLight-green;
    border-radius: 5;
}

#language {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-blue;
    border-radius: 5;
}

#clock {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-foreground;
    border-radius: 5;
}

#wireplumber {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-aqua;
    border-radius: 5;
}

#wireplumber.muted {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-red;
    border-radius: 5;
}

#memory {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-blue;
    border-radius: 5;
}

#cpu {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-blue;
    border-radius: 5;
}

#custom-hyprsunset {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-blue;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#custom-darkman {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-foreground;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#custom-mako {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-yellow;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#custom-audio_idle_inhibitor {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-yellow;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#custom-ddcutil {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-purple;
    border-radius: 5;
}

#custom-pomo.running {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-yellow;
    border-radius: 5;
}

#custom-pomo.paused {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-red;
    border-radius: 5;
}

#custom-pomo.finished {
    margin: 5px;
    padding: 0px 5px;
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-green;
    border-radius: 5;
}

#idle_inhibitor.activated {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-green;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#idle_inhibitor.deactivated {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-red;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#mpris {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-aqua;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#mpris.spotify {
    margin: 5px;
    padding: 0px 5px;
    color: @spotify-foreground;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#mpris.cider {
    margin: 5px;
    padding: 0px 5px;
    color: @gruvboxLight-red;
    background-color: @gruvboxLight-background;
    border-radius: 5;
}

#keyboard-state {
    color: @gruvboxLight-foreground;
    border-radius: 5;
}

#keyboard-state label {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-green;
    margin: 5px;
    padding: 0px 5px;
}

#keyboard-state label.locked {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-red;
    margin: 5px;
    padding: 0px 5px;
}

#network {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5;
}

#network.disabled {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-red;
    margin: 5px;
    padding: 0px 5px;
}

#network.disconnected {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-yellow;
    margin: 5px;
    padding: 0px 5px;
}

#network.linked {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-green;
    margin: 5px;
    padding: 0px 5px;
}

#network.ethernet {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-green;
    margin: 5px;
    padding: 0px 5px;
}

#network.wifi {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-green;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth {
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5;
}

#bluetooth.on {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-yellow;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth.off {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-red;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth.connected {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-green;
    margin: 5px;
    padding: 0px 5px;
}

#bluetooth.discovering {
    background-color: @gruvboxLight-background;
    color: @gruvboxLight-aqua;
    margin: 5px;
    padding: 0px 5px;
}
